$color-accent: #bc314d;
$color-bg: #333333;
$color-primary: #828282;
$color-text-muted: #bdbdbd;

%museo-100 {
  font-family: "MuseoSansCyrl-Thin", sans-serif;
  font-weight: 100;
}

%museo-300 {
  font-family: "MuseoSansCyrl-Regular", sans-serif;
  font-weight: 300;
}

%museo-900 {
  font-family: "MuseoSansCyrl-Bold", sans-serif;
  font-weight: 900;
}

%Euclid-400 {
  font-family: "Euclid-Regular", sans-serif;
  font-weight: 400;
}

%Euclid-500 {
  font-family: "Euclid-Medium", sans-serif;
  font-weight: 500;
}

%Euclid-600 {
  font-family: "Euclid-SemiBold", sans-serif;
  font-weight: 600;
}
.title {
  font-size: 48px;
  text-align: center;
  @extend %museo-900;
  color: #333333;
}
