@use "global";
@use "reset";
@use "fonts";
@use "../../node_modules/swiper/swiper-bundle.css";
@use "../../node_modules/nouislider/dist/nouislider.css";
@use "vars";
@use "media";

body {
  @extend %museo-300;
  font-size: 16px;
  line-height: 1.3;
  color: vars.$color-primary;
  &.scroll-lock {
    overflow: hidden;
  }
}
.header {
  &__top-inner {
    display: flex;
    align-items: center;
  }
  &__top {
    font-size: 14px;
    color: #fff;
    padding: 15px 0;
    background-color: vars.$color-bg;
  }
  &__top-selects {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  &__top-select {
    display: flex;
    gap: 15px;
    cursor: pointer;
    padding-right: 15px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 9px;
      right: 0;
      width: 7px;
      height: 4px;
      background-image: url("../images/arrow-down.svg");
      background-repeat: no-repeat;
    }
  }
  &__top-select__text {
    color: vars.$color-accent;
  }
  &__top-list {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-left: 75px;
  }
  &__top-item {
    cursor: pointer;
    padding-left: 26px;
    position: relative;
  }
  &__top-itemicon {
    position: absolute;
    top: 3px;
    left: 0;
  }
  &__top-linkbookmarks {
    position: relative;
    padding-left: 26px;
  }
  &__top-linkdelivery {
    padding-left: 10px;
  }
  &__top-linknumber {
    position: absolute;
    top: -3px;
    left: 14px;
    width: 16px;
    height: 16px;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    color: vars.$color-bg;
    background-color: rgb(255, 255, 255, 0.7);
  }
  &__top-login {
    display: flex;
    gap: 16px;
    margin-left: auto;
    padding-left: 35px;
    position: relative;
  }
  &__top-loginicon {
    position: absolute;
    top: 3px;
    left: 0;
  }
  &__top-btnenter {
    position: relative;
    &::after {
      content: "|";
      position: absolute;
      top: 2px;
      right: -10px;
    }
  }
  &__actions-item {
    position: relative;
  }
  &__actionsheart,
  &__actionscart {
    position: absolute;
    top: -5px;
    right: -6px;
    width: 16px;
    height: 16px;
    color: #fff;
    font-size: 8px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    background-color: vars.$color-accent;
  }
  &__contacts-phone {
    color: vars.$color-primary;
    text-align: right;
  }
  &__actions-price {
    color: vars.$color-primary;
  }
  &__top-select {
    position: relative;
  }
  &__top-selectcurrent__list {
    display: none;
    @extend %Euclid-400;
    color: vars.$color-bg;
    position: absolute;
    top: 32px;
    min-width: 200px;
    width: 100%;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 6px;
    z-index: 10;
  }
  &__top-selectcurrent__item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid vars.$color-bg;
    &:last-child {
      border-bottom: none;
    }
    span {
      color: vars.$color-accent;
    }
  }
  &__top-selectcurrent__item + .header__top-selectcurrent__item {
    padding-top: 10px;
  }
  .header__top-select:hover .header__top-selectcurrent__list {
    display: block;
  }
  &__top-lang--active.header__top-selectcurrent__item {
    color: #fff;
    background-color: vars.$color-accent;
    .header__top-lang {
      color: #fff;
    }
  }
  &__box-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 60px;
  }
  &__menu-list {
    display: flex;
    gap: 40px;
    order: 1;
  }
  &__box-wrapper {
    display: flex;
    flex-direction: column;
    gap: 45px;
  }
  &__form {
    display: flex;
    gap: 20px;
    position: relative;
  }
  &__input-category {
    padding-left: 20px;
  }
  &__category-btn {
    position: absolute;
    top: -3px;
    left: 0;
  }
  &__product-btn {
    position: absolute;
    right: 20px;
  }
  &__form-btn {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    z-index: 5;
  }
  &__input {
    width: 100%;
    border: none;
    padding-bottom: 8px;
    @extend %museo-300;
    font-size: 14px;
    color: vars.$color-primary;
    border-bottom: 1px solid vars.$color-bg;
    background-color: transparent;
  }
  &__input-category {
    max-width: 220px;
    padding-left: 20px;
  }
  &__input-product {
    padding-right: 50px;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__social-list {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__actions-list {
    display: flex;
    align-items: center;
    gap: 18px;
  }
  &__menu-item {
    font-size: 16px;
    @extend %museo-900;
    color: vars.$color-bg;
  }
  &__menu-itemproduct {
    position: relative;
  }
  &__menu-linkproduct {
    color: vars.$color-accent;
    padding-right: 20px;
  }
  &__menu-btn {
    position: absolute;
    top: -2px;
    right: 0;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    z-index: 5;
  }
}

/* Подменю по умолчанию скрыто */
.itemproduct__menu-list {
  display: none;
  position: absolute;
  width: 240px;
  @extend %museo-300;
  color: vars.$color-bg;
  font-size: 16px;
  border: 1px solid vars.$color-accent;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  z-index: 10;
}

/* Ссылки внутри подменю */
.itemproduct__menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: all 0.5s;
  &:hover {
    color: #fff;
    @extend %museo-900;
    background-color: vars.$color-accent;
  }
}
.itemproduct__icons {
  line-height: 0;
}

/* Активное состояние (когда меню открыто) */
.header__menu-itemproduct.active .itemproduct__menu-list {
  display: block;
}

/* Кнопка-стрелка */
.header__menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

.header__menu-itemproduct {
  position: relative;
}

.promo {
  padding-bottom: 115px;
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  &__item:nth-child(1) {
    min-width: 700px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    position: relative;
    .promo__item-title {
      position: absolute;
      top: 45px;
      color: vars.$color-bg;
      right: 20px;
      font-size: 36px;
      @extend %museo-900;
      max-width: 412px;
      span {
        color: vars.$color-accent;
      }
    }
  }
  &__item:nth-child(2) {
    min-width: 335px;
    position: relative;
    .promo__item-title {
      position: absolute;
      top: 45px;
      left: 25px;
      color: #fff;
      font-size: 36px;
      @extend %museo-900;
      max-width: 412px;
    }
  }
  &__item:nth-child(3) {
    min-width: 335px;
    position: relative;
    .promo__item-title {
      position: absolute;
      bottom: 45px;
      left: 25px;
      color: #fff;
      font-size: 36px;
      @extend %museo-900;
      max-width: 412px;
    }
  }
  &__item:nth-child(4) {
    min-width: 335px;
    position: relative;
    .promo__item-title {
      position: absolute;
      bottom: 45px;
      left: 25px;
      color: #fff;
      font-size: 36px;
      @extend %museo-900;
      max-width: 412px;
    }
  }
  &__item:nth-child(5) {
    min-width: 335px;
    position: relative;
    .promo__item-title {
      position: absolute;
      bottom: 45px;
      left: 25px;
      color: vars.$color-accent;
      font-size: 36px;
      @extend %museo-900;
      max-width: 290px;
    }
  }
  &__content {
    padding-top: 45px;
  }
  &__content-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  &__content-item {
    border: 1px solid vars.$color-accent;
  }
  &__content-item:nth-child(1) {
    position: relative;
    .promo__content-info {
      position: absolute;
      top: 75px;
      left: 20px;
      max-width: 215px;
    }
    .promo__content-title {
      @extend %museo-300;
      font-size: 22px;
      line-height: 28px;
      color: vars.$color-bg;
      padding-bottom: 5px;
    }
    .promo__content-text {
      font-size: 14px;
      line-height: 18px;
      color: vars.$color-primary;
    }
  }
  &__content-item:nth-child(2) {
    color: #fff;
    position: relative;
    .promo__content-info {
      position: absolute;
      top: 145px;
      left: 0;
      right: 0;
      @extend %museo-300;
    }
    .promo__content-title {
      @extend %museo-300;
      font-size: 22px;
      line-height: 28px;
      text-align: center;
      padding-bottom: 5px;
    }
    .promo__content-text {
      font-size: 14px;
      line-height: 18px;
      text-align: center;
    }
  }
  &__content-item:nth-child(3) {
    color: #fff;
    position: relative;
    .promo__content-info {
      position: absolute;
      top: 75px;
      right: 20px;
      bottom: 25px;
      max-width: 260px;
      color: vars.$color-bg;
      @extend %museo-300;
    }
    .promo__content-title {
      @extend %museo-300;
      font-size: 22px;
      line-height: 28px;
      text-align: right;
      padding-bottom: 5px;
    }
    .promo__content-text {
      font-size: 14px;
      line-height: 18px;
      text-align: right;
      color: vars.$color-primary;
    }
  }
}
.stock,
.seasonal,
.presents {
  padding-bottom: 140px;
  &__title {
    font-size: 48px;
    text-align: center;
    @extend %museo-900;
    color: vars.$color-bg;
  }
  &__item {
    max-width: 340px;
    border: 1px solid vars.$color-accent;
    position: relative;
  }
  &__item-images {
    display: block;
    height: 305px;
    background-color: #fbf9fa;
    margin-bottom: 15px;
  }
  &__item-img {
    min-width: 295px;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
  }
  &__item-sale {
    position: absolute;
    top: 6px;
    left: 20px;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    @extend %museo-300;
    color: vars.$color-bg;
    border: 1px dashed vars.$color-accent;
  }
  &__item-heart {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 24px;
    height: 22px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
  }

  .stock__item-heart,
  .seasonal__item-heart,
  .presents__item-heart svg {
    fill: #bdbdbd;
    transition: fill 0.3s ease;
  }

  .stock__item-heart.active svg,
  .seasonal__item-heart.active svg,
  .presents__item-heart.active svg {
    fill: #bc314d;
    transform: scale(1.3);
  }

  &__item-top {
    position: absolute;
    top: 235px;
    right: 20px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    @extend %museo-900;
    text-transform: uppercase;
    background-color: vars.$color-accent;
  }
  &__rating {
    margin-left: 25px;
  }
  &__item-content {
    padding: 20px 25px 15px 25px;
  }
  &__item-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  &__item-text {
    width: 160px;
    font-size: 18px;
    @extend %museo-300;
    color: vars.$color-bg;
  }
  &__item-price {
    width: 80px;
  }
  &__item-priceold {
    font-size: 18px;
    @extend %museo-300;
    text-decoration: line-through dashed;
    color: vars.$color-text-muted;
  }
  &__item-pricenew {
    font-size: 18px;
    @extend %museo-900;
    color: vars.$color-accent;
  }
  &__item-order {
    display: block;
    color: #fff;
    text-align: center;
    @extend %museo-900;
    padding: 22px 52px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 auto 15px;
    background-color: vars.$color-accent;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 68px;
      height: 112px;
      background-image: url("../images/decor-1.svg");
      z-index: 5;
    }
  }
  &__item-link {
    display: block;
    text-align: center;
    color: vars.$color-primary;
    text-decoration: underline;
  }
  &__swiper {
    padding-top: 50px;
    position: relative;
  }
  &__arrows {
    position: absolute;
    top: -20px;
    right: 0;
    cursor: pointer;
  }
  &__arrows-next {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  &__arrows-prev {
    position: absolute;
    top: 0;
    right: 40px;
    cursor: pointer;
  }
}

.seasonal {
  &__swiper {
    padding-top: 50px;
    position: relative;
  }
  &__arrows-prev {
    position: absolute;
    top: 0;
    right: 50px;
    cursor: pointer;
  }
  &__arrows-next {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}
.presents {
  padding-bottom: 140px;
  &__swiper {
    padding-top: 50px;
    position: relative;
  }
  &__arrows-prev {
    position: absolute;
    top: 0;
    right: 50px;
    cursor: pointer;
  }
  &__arrows-next {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}

.forum {
  padding-bottom: 110px;
  &__top {
    color: vars.$color-accent;
    text-align: right;
    margin-bottom: 55px;
    &-link {
      padding-right: 25px;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    margin-bottom: 120px;
  }
  &__item {
    color: #fff;
    max-width: 460px;
    width: 100%;
    min-height: 370px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: vars.$color-accent;
    position: relative;
    z-index: -2;
  }
  &__item-img {
    position: absolute;
    top: -145px;
  }

  &__content {
    max-width: 425px;
  }
  &__content-title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  &__content-text {
    @extend%museo-100;
  }
}

.footer {
  color: #fff;
  padding: 35px 0 45px;
  background-color: vars.$color-bg;
  &__top {
    padding-bottom: 35px;
    border-bottom: 1px solid vars.$color-accent;
  }
  &__top-inner {
    display: flex;
    justify-content: space-between;
  }

  &__top-item {
    width: 220px;
  }
  &__top-title {
    font-size: 18px;
    @extend %museo-900;
    padding-bottom: 35px;
  }
  &__top-listitem {
    @extend %museo-300;
  }
  .footer__top-listitem + .footer__top-listitem {
    padding-top: 20px;
  }
  &__bottom {
    padding-top: 15px;
  }
  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__bottom-list {
    display: flex;
    gap: 25px;
    align-items: center;
  }
}
